<html>
  <head>
    <title>Boring tab title</title>
  </head>
<body>

  <p>Hello <em>you</em>!</p>

  <p>What's up?</p>

  <p>Welcome to <strong>the</strong>:<p>

  <div>
      <h1> Football drama blog </h1>
  </div>
  <div>
    <h2> The <em> coup d'état </em> in the locker-room somewhere in the outskirts of Brussels.</h2>
  <br><div><em>testing the html wonders </em></div>
  <br><br><br><h2>second title</h2>
  <h2><em>second title with a little extra</em><h2>
  <h3> grocery list </h3>
  <p><ul><li>artichokes</li><li>potatoes</li><li>milk</li><li>bread</li><li>almonds</li></ul></p>
</body>
</html>
